@import '~@angular/material/theming';

@include mat-core();

.menus {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.box {
  @include mat-elevation(8);
  margin: 40px;
}

.box > h2 {
  text-align: center;
  border-color: gray;
}

.box > img {
  height: 200px;
  width: 300px;
  object-fit: cover;
}
